In [ ]:
# ATMS 305, Fall 2024 -- Lab28: Review2

In [3]:
import numpy as np
import xarray as xr

In [2]:
# TEXT
FHR = np.array([ 05, 08, 11, 14, 17, 20, 23, 26, 29, 32, 35, 38, 41, 44, 47, 50, 53, 56, 59, 62, 65, 68, 71])
TMP = np.array([ 49, 48, 41, 37, 35, 32, 31, 33, 36, 37, 36, 37, 38, 38, 39, 42, 45, 45, 42, 40, 39, 37, 36])
DPT = np.array([ 31, 28, 27, 27, 26, 25, 24, 25 ,27, 30, 32, 33, 34, 35, 36, 38, 38, 37, 36, 35, 35, 34, 33])
GST = np.array([ 25, 28, 22, 20, 19, 22, 24, 26 ,31, 34, 29, 26, 22, 20, 20, 21, 23, 22, 17, 15, 13, 12, 10])

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (<ipython-input-2-f585b2b21500>, line 2)

In [ ]:
# KATRINA

# Given: Get/open data set, read pressure, longitude, latitude, close data set.

!wget -N 'rfd.atmos.uiuc.edu/305/Katrina/kat4km.nc'
DS = xr.open_dataset('kat4km.nc');
pres = DS.PSFC[0,:] / 100;     # converts Pa (pascals) to hPa (1 hPa = 1 mb)
lat  = DS.XLAT[0,:]            # latitude in degrees N
lon  = DS.XLONG[0,:]           # longitude in degrees E
DS.close();

# City list:

cities = [["MSY",29.99,-90.26],
          ["TLH",30.40,-84.35],
          ["MOB",30.69,-88.24]]

# Show cities!  Your print() statement goes here.

#for (cityname,citylat,citylon) in cities:

--2024-11-20 20:05:02--  http://rfd.atmos.uiuc.edu/305/Katrina/kat4km.nc
Resolving rfd.atmos.uiuc.edu (rfd.atmos.uiuc.edu)... 192.17.107.225
Connecting to rfd.atmos.uiuc.edu (rfd.atmos.uiuc.edu)|192.17.107.225|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 163471565 (156M) [application/x-netcdf]
Saving to: ‘kat4km.nc’

kat4km.nc           100%[===================>] 155.90M  55.7MB/s    in 2.8s

2024-11-20 20:05:05 (55.7 MB/s) - ‘kat4km.nc’ saved [163471565/163471565]

In [ ]:
# USE THIS cell to SAVE NOTEBOOK as HTML
# %%shell
# jupyter nbconvert --to html  NAME